@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap");

@media screen and (min-width: 50em) {
  html {
    font-size: 2vw;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Serif Pro", Verdana, Geneva, sans-serif;
}

h1 {
  font-size: 2vw;
}

.dropbtn {
  display: none;
}

.sidebar {
  height: 100%;
  background: #d6d8d8;
  width: 15%;
  position: fixed;
  text-align: center;
}

.theSidebar {
  height: 100%;
  background: #d6d8d8;
  width: 15%;
  position: fixed;
  text-align: left;
}

.sidebar_mobile {
  display: none;
}

.color_container {
  text-align: center;
}

input {
  max-width: 500px;
  border-radius: 10px;
}

.gray {
  color: #828282;
}

.orange {
  background-color: #ff6600;
}

.background-gray {
  background-color: rgb(246, 246, 239);
}

.f11 {
  font-size: 11px;
}

.w85 {
  width: 85%;
}

.button {
  font-family: monospace;
  font-size: 10pt;
  color: #363c3c;
  background-color: buttonface;
  text-align: center;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  cursor: pointer;
  max-width: 250px;
}

.header {
  width: 100%;
  height: 75px;
  background: #363c3c !important;
  position: fixed;
  top: 0;
  z-index: 9;
}

.header_label {
  float: right;
  margin: 20px;
  font-size: 24px;
}

.sidebar_adjust {
  margin-left: 17%;
  margin-top: 75px;
}

.page_numbers {
  text-align: center;
}

.page_number {
  margin: 30px;
  font-size: 32px;
  text-decoration: none;
  display: inline-block;
  color: #363c3c;
}

.current_page {
  font-weight: 700;
  text-decoration: underline;
  font-size: 32px;
  color: blue;
}

.color_obj {
  display: inline-block;
  /*width: 15vw;
  min-width: 150px;*/
  margin: 2%;
  /* height: 15vw;*/
  border-radius: 15px;
  position: relative;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  width: 220px;
  height: 261px;
}

.color_obj p {
  background: white;
  position: absolute;
  bottom: 0;
  margin: 0;
  /*padding-bottom: 0.25vw;
  padding-top: 0.25vw;*/
  text-align: center;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  /*font-size: 1em;*/
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 400px;
}

.individual_color {
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
  width: 650px;
  height: 650px;
  position: relative;
  border-radius: 10px;
}

.individual_color p {
  background: white;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
  font-size: 48px;
  border-radius: 0px 0px 10px 10px;
}

img {
  height: 50px;
  width: 50px;
  margin-left: 20px;
  margin-top: 10px;
}

.home_btn {
  float: right;
  margin: 20px;
  font-size: 24px;
  color: #363c3c;
}

.little_colors {
  box-shadow: 2px 2px 2px 2px;
  display: inline-block;
  margin: 30px;
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

.little_colors p {
  background: white;
  position: absolute;
  font-size: 20px;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  bottom: 0;
}

.random_btn {
  margin-top: 150px;
  margin-left: 10px;
  background: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  border-width: 2px 2px 2px 2px;
  border-color: black;
  padding: 15px 25px 15px 25px;
  color: #363c3c;
  font-weight: 700;
}

.sidebar_link {
  text-align: left;
  font-size: 24px;
  /*padding-left: 50px;*/
  margin-left:10px;
  color: #363c3c;
  text-decoration: none;
}

.theSidebar a {
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  .color_container {
    text-align: center;
  }
  /*
  .color_obj {
    display: inline-block;
    width: 150px;
    min-width: 150px;
    margin: 1%;
    height: 150px;
    border-radius: 15px;
    position: relative;
    box-shadow: 2px 2px 2px 2px;
  }

  .color_obj p {
    background: white;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    font-size: 1em;
  }*/

  h1 {
    font-size: 4vw;
  }

  input {
    width: 20vw;
    border-radius: 10px;
  }

  .sidebar_mobile {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100px;
    background: #d6d8d8;
    margin-top: 75px;
  }

  .dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 70px;
  }

  .dropbtn {
    display: inline-block;
    padding: 5px;
    float: left;
  }

  .random_btn {
    float: right;
    margin-top: 0px;
    padding: 5px;
  }

  .show {
    display: inline-block;
  }

  .individual_color {
    border: 1px solid black;
    display: inline-block;
    margin: 10px;
    width: 45vw;
    height: 45vw;
    position: relative;
    border-radius: 10px;
  }

  .individual_color p {
    background: white;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 32px;
    border-radius: 0px 0px 10px 10px;
  }

  .theSidebar {
    display: none;
  }
}
